{% extends "base.html" %}

{% block title %}Список пользователей{% endblock %}

{% block content %}
<div class="container">

    <h1>Список пользователей</h1>

    <p>
        <a class="btn-admin" href="{{ url_for('users.create_user') }}">Создать пользователя</a>
    </p>

    <table class="users-table">
        <tr>
            <th>ID</th>
            <th>Логин</th>
            <th>Роль</th>
        </tr>

        {% for u in users %}
        <tr>
            <td>{{ u.id }}</td>
            <td>{{ u.login }}</td>
            <td>{{ u.role }}</td>
        </tr>
        {% endfor %}
    </table>

</div>
{% endblock %}
