{% extends 'base.html' %}

{% block title %}Вход — Ферма{% endblock %}

{% block content %}

<h1>Вход</h1>

<div class="form-block">

    {% if error %}
        <div class="error">{{ error }}</div>
    {% endif %}

    <form method="post">

        <label>Логин:</label>
        <input type="text" name="login" required>

        <label>Пароль:</label>
        <input type="password" name="password" required>

        <button type="submit">Войти</button>

    </form>

    <p>
        Нет аккаунта?
        <a href="{{ url_for('users.register') }}">Зарегистрироваться</a>
    </p>

</div>

{% endblock %}
